## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,New Norfolk,AU,-42.7826,147.0587,60.75,47,57,1.01,broken clouds
1,1,Saldanha,ZA,-33.0117,17.9442,60.21,83,16,14.18,few clouds
2,2,Mahebourg,MU,-20.4081,57.7000,76.24,72,72,18.92,broken clouds
3,3,Jamestown,US,42.0970,-79.2353,62.51,69,90,3.00,overcast clouds
4,4,Bluff,NZ,-46.6000,168.3333,49.80,55,2,7.18,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Mahebourg,MU,-20.4081,57.7000,76.24,72,72,18.92,broken clouds
5,5,Mouila,GA,-1.8685,11.0559,74.12,95,100,1.30,overcast clouds
6,6,Bambous Virieux,MU,-20.3428,57.7575,77.25,57,75,20.71,broken clouds
8,8,Salalah,OM,17.0151,54.0924,87.89,70,0,4.61,clear sky
11,11,Ribeira Grande,PT,38.5167,-28.7000,68.50,72,87,16.49,overcast clouds
12,12,Port Elizabeth,ZA,-33.9180,25.5701,66.09,82,40,11.50,scattered clouds
13,13,Qui Nhon,VN,13.7667,109.2333,83.66,77,42,9.26,scattered clouds
14,14,Binzhou,CN,37.3667,118.0167,75.27,72,100,11.52,light rain
17,17,Saint-Philippe,RE,-21.3585,55.7679,77.22,87,78,14.99,light rain
18,18,Wum,CM,6.3833,10.0667,65.07,95,100,2.82,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                8
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Mahebourg,MU,-20.4081,57.7000,76.24,72,72,18.92,broken clouds
5,5,Mouila,GA,-1.8685,11.0559,74.12,95,100,1.30,overcast clouds
6,6,Bambous Virieux,MU,-20.3428,57.7575,77.25,57,75,20.71,broken clouds
8,8,Salalah,OM,17.0151,54.0924,87.89,70,0,4.61,clear sky
11,11,Ribeira Grande,PT,38.5167,-28.7000,68.50,72,87,16.49,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
2005,2005,Port Said,EG,31.2565,32.2841,75.18,78,20,11.50,few clouds
2006,2006,Sampit,ID,-2.5333,112.9500,86.72,70,38,1.43,moderate rain
2007,2007,Qingdao,CN,36.0986,120.3719,73.00,83,75,17.90,broken clouds
2009,2009,Pimenta Bueno,BR,-11.6725,-61.1936,74.77,71,30,2.75,scattered clouds
2013,2013,George Town,MY,5.4112,100.3354,87.75,66,20,8.99,few clouds

In [7]:
# check again if there are any empty rows
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                8
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
clean_df = preferred_cities_df

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mahebourg,MU,76.24,broken clouds,-20.4081,57.7000,
5,Mouila,GA,74.12,overcast clouds,-1.8685,11.0559,
6,Bambous Virieux,MU,77.25,broken clouds,-20.3428,57.7575,
8,Salalah,OM,87.89,clear sky,17.0151,54.0924,
11,Ribeira Grande,PT,68.50,overcast clouds,38.5167,-28.7000,
12,Port Elizabeth,ZA,66.09,scattered clouds,-33.9180,25.5701,
13,Qui Nhon,VN,83.66,scattered clouds,13.7667,109.2333,
14,Binzhou,CN,75.27,light rain,37.3667,118.0167,
17,Saint-Philippe,RE,77.22,light rain,-21.3585,55.7679,
18,Wum,CM,65.07,overcast clouds,6.3833,10.0667,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [11]:
# 7. Drop the rows where there is no Hotel Name.
    #copy the hotel df to clean_hotel df that has hotel names only
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"]!=''].copy()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mahebourg,MU,76.24,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
5,Mouila,GA,74.12,overcast clouds,-1.8685,11.0559,Hôtel du Lac Bleu
6,Bambous Virieux,MU,77.25,broken clouds,-20.3428,57.7575,Casa Tia Villa
8,Salalah,OM,87.89,clear sky,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
11,Ribeira Grande,PT,68.50,overcast clouds,38.5167,-28.7000,Quinta da Meia Eira
12,Port Elizabeth,ZA,66.09,scattered clouds,-33.9180,25.5701,39 On Nile Guest House
13,Qui Nhon,VN,83.66,scattered clouds,13.7667,109.2333,Hoang Yen Canary Hotel
14,Binzhou,CN,75.27,light rain,37.3667,118.0167,Hampton By Hilton Binzhou
17,Saint-Philippe,RE,77.22,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
18,Wum,CM,65.07,overcast clouds,6.3833,10.0667,Wum Council Hall

In [12]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mahebourg,MU,76.24,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
5,Mouila,GA,74.12,overcast clouds,-1.8685,11.0559,Hôtel du Lac Bleu
6,Bambous Virieux,MU,77.25,broken clouds,-20.3428,57.7575,Casa Tia Villa
8,Salalah,OM,87.89,clear sky,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
11,Ribeira Grande,PT,68.50,overcast clouds,38.5167,-28.7000,Quinta da Meia Eira
12,Port Elizabeth,ZA,66.09,scattered clouds,-33.9180,25.5701,39 On Nile Guest House
13,Qui Nhon,VN,83.66,scattered clouds,13.7667,109.2333,Hoang Yen Canary Hotel
14,Binzhou,CN,75.27,light rain,37.3667,118.0167,Hampton By Hilton Binzhou
17,Saint-Philippe,RE,77.22,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
18,Wum,CM,65.07,overcast clouds,6.3833,10.0667,Wum Council Hall

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#              max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))